<a href="https://colab.research.google.com/github/Raviawana/python-tutorial/blob/main/python_class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10

single equal is '=' assignment and double equal '==' is comparision

In [ ]:
if a==10:
  print('this is my first condition')

this is my first condition

In [ ]:
a=10
if a>5:

SyntaxError: ignored

Here pass will act like a boody of it that means to notdo anything

In [ ]:
a=10
if a>5:
  pass

In [ ]:
a=10     # itwill gonna show only when given conditionis possible 
if a>8:
  print('print this if this condition is fullfilled')

print this if this condition is fullfilled

In [ ]:
a=10     # itwill gonna show only when given conditionis possible 
if a<8:
  print('print this if this condition is fullfilled')

now not equal to and the sign for that !=

In [ ]:
a=10
if a != 11 :                # make sure to put colum : otherwisespace beforeprint will not appear
  print('my sitution is false')
else:
   print('my condition is true')

my sitution is false

In [ ]:
a=10
if a==11:
  print('we are here trying to compare 10 with 11')
elif a == 12 :                                       #remember to clear space before if,elif,else
    print('we are here trying to compare 10 with 12')
else:
      print('if all the blocks doest work print this' )

if all the blocks doest work print this

In [ ]:
a=10
if a==11:
  print('we are here trying to compare 10 with 11')
elif a == 10 :                                       
    print('we are here trying to compare 10 with 12')
else:
      print('if all the blocks doest work print this' )

we are here trying to compare 10 with 12

In [ ]:
price=500
if price>500:
  print('i am not able to buy the jacket')
elif price<500:
  print('i will be able to buy a jacket')

In [ ]:
price=500
if price>500:
  print('i am not able to buy the jacket')
elif price<=500:
  print('i will be able to buy a jacket')

i will be able to buy a jacket

In [ ]:
price=500
if price>500:
  print('i am not able to buy the jacket')
elif price<500:
  print('i will be able to buy a jacket')
else price==500:                   #you can not put condition with else,intedwe can make another elif 
  print('i do not know')

SyntaxError: ignored

In [ ]:
price<500

False

In [ ]:
price>500

False

In [ ]:
price==500

True

In [ ]:
l=[1,2,3,4,5,5,]

In [ ]:
2 in l

True

In [ ]:
if 2 in l:
  print('perform this task')
else:
  print('do not perform this task')

perform this task

In [ ]:
l

[1, 2, 3, 4, 5, 5]

In [ ]:
if 1 in l:                 # If 1st condition is statisfactory it will not go to another condition
  print('add')
elif 2 in l:
    print('sub')
elif 3 in l:
  print('divide')

add

In [ ]:
if 1 in l:
  print('add')
elif 2 in l:
    print('sub')
elif 3 in l:
  print('divide')
if 4 in l:                            # When another 'if' we insert than it do not have any relation with upper ones
  print('i do not know what to write')

NameError: ignored

In [ ]:
a=400

In [ ]:
b=input(450)     # it will convert data into string format

In [ ]:
b

In [ ]:
b=input(350)

3504656

In [ ]:
type(b)     #if i have to convert str into int then

In [ ]:
b=int(input())      # Whenever you are typecasting than you are supposed to write numeric value not a alphanumeric value

In [ ]:
type(b)

In [ ]:
price=int(input())
if price<500 :
  print('i will be able to buy something')
  if price<400:
    print('i will be ale to buy shirt')
  elif price>300:
    print('i would  be able to buy jacket')
  else:
    print('i wont be able to buyanything ')
else:
  print('i wont be able to buyanything with this price tag')

600
i wont be able to buyanything with this price tag

In [ ]:
price=int(input())
if price<500 :
  print('i will be able to buy something')
  if price<400:
    print('i will be ale to buy shirt')
  elif price>300:
    print('i would  be able to buy jacket')
  else:
    print('i wont be able to buyanything ')
else:
  print('i wont be able to buyanything with this price tag')

500
i wont be able to buyanything with this price tag

In [ ]:
price=int(input())
if price<500 :
  print('i will be able to buy something')
  if price<400:
    print('i will be ale to buy shirt')
  elif price>300:
    print('i would  be able to buy jacket')
  else:
    print('i wont be able to buyanything ')
else:
  print('i wont be able to buyanything with this price tag')

450
i will be able to buy something
i would  be able to buy jacket

In [ ]:
price=int(input())
if price<500 :
  print('i will be able to buy something')
  if price<400:                                                            # We can writeif block inside if block for any number of times
    print('i will be ale to buy shirt')
  elif price>300:
    print('i would  be able to buy jacket')
  else:
    print('i wont be able to buyanything ')
else:
  print('i wont be able to buyanything with this price tag')

250
i will be able to buy something
i will be ale to buy shirt

In [ ]:
marks=int(input())
if marks > 600:
  print('GRE')
elif marks < 600:
    print('no gre')
    if marks >500:
      print('toffel')
    if marks < 400:
      print('type something else')

200
no gre
type something else

In [ ]:
 val=float(input('enter a floating number'))
 if val >=0:
   if val==0:
     print('entered value is zero')
   else:
     print('entered value is a positive number')
else:
  print('entered value is negative number')

enter a floating number2
entered value is a positive number

in 'or' condition one of the condition is true than it is true
and in 'and' condition one of the condition is false than itis false

In [ ]:
a=10
if a<10 or a==10:
  print('try something new')

try something new

In [ ]:
a=10                        # It will not give any response bcz one condition is wrong
if a>10 and a==9:
  print('tttttt')

In [ ]:
a

10

In [ ]:
a='ravi'                   #python is case sensitive language
if a=='RAVI' and  a== 'ravi':
  print('this is ravi')

In [ ]:
a='ravi'                  # magic of or
if a=='RAVI' or  a== 'ravi':
  print('this is ravi')

this is ravi