<a href="https://colab.research.google.com/github/Raviawana/python-tutorial/blob/main/pythonclass5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LOOP** (for)

In [4]:
l=[1,2,3,4,5,"ravi""gurjar",543.25]

Meaning of i in below code is i will gonna be each index that are available in our list from the very first element in our list and after that to next one and than again in loop perform same activity.

In [3]:
for i in l:
  print(i)

1
2
3
4
5
ravigurjar
543.25

In [2]:
for i in l:
  if i == int:
    print(i+2)
  elif i == str or float:
    print(i)

1
2
3
4
5
ravigurjar
543.25

In [4]:
s='ravindra'

In [5]:
for i in s :
  print(i)

r
a
v
i
n
d
r
a

In [6]:
len(s)

8

In [7]:
type(s)

str

In [8]:
l

[1, 2, 3, 4, 5, 'ravigurjar', 543.25]

In [10]:
for i in l:           # SITUTION .1
  print(i)
else:
  print("this will execute only when for loop have to complete")

1
2
3
4
5
ravigurjar
543.25
this will execute only when for loop have to complete

In [26]:
for i in l:      # Sitution .2
  if i == 4:
      break
  print(i)
else:
  print('this will execute only when for loop have to complete')

1
2
3

Difference between both above conditions is in number 1 loop end by itself after completing whole process 
and in number 2 we broke loop earlier

we can run it in list,str,even in tuples

In [3]:
t=(1,2,3,4,5,'ravi')

In [28]:
for i in t :
  print(i)

1
2
3
4
5
ravi

In [2]:
b={1,2,3,3,3,3,4,4,4,4,4,'ravi'}                   # Set

In [30]:
type(b)

set

In [31]:
b                                                   # Automaticly remove repetation

{1, 2, 3, 4, 'ravi'}

In [32]:
for i in b:
  print(i)

1
2
3
4
ravi

In [3]:
d={'ravi':"gurjar","school":"tps"}

In [36]:
for i in d:              #it only gives keys
  print(i)

ravi
school

In [37]:
d['ravi']

'gurjar'

In [39]:
for i in d:              # For values
  print(d[i])

gurjar
tps

In [40]:
range(9)

range(0, 9)

In [41]:
list(range(9))             # It excludes 9(upper limit)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
for i in range(9):
  print(i)

0
1
2
3
4
5
6
7
8

In [43]:
l=[0,1,2,3,4,5,6]

In [7]:
range(0,9)

range(0, 9)

In [8]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
for i in range(9):
  print(i)

0
1
2
3
4
5
6
7
8

In [11]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [13]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [18]:
n=10
for i in range(10):
  for j in range(0,i+1):
    print('ravi',end=" ")
  print("\n")

ravi

ravi ravi

ravi ravi ravi

ravi ravi ravi ravi

ravi ravi ravi ravi ravi

ravi ravi ravi ravi ravi ravi

ravi ravi ravi ravi ravi ravi ravi

ravi ravi ravi ravi ravi ravi ravi ravi

ravi ravi ravi ravi ravi ravi ravi ravi ravi

ravi ravi ravi ravi ravi ravi ravi ravi ravi ravi

In [26]:
n=10
for i in range(10):
  for j in range(i,n-1):
    print(" ",end="ravi")
  print("\n")

 ravi ravi ravi ravi ravi ravi ravi ravi ravi

 ravi ravi ravi ravi ravi ravi ravi ravi

 ravi ravi ravi ravi ravi ravi ravi

 ravi ravi ravi ravi ravi ravi

 ravi ravi ravi ravi ravi

 ravi ravi ravi ravi

 ravi ravi ravi

 ravi ravi

 ravi

In [11]:
n=4
for i in range(n):
  for j in range(i,n-1):
     print(" " * len("ravi"),end=" ")
  for j in range(i+1):
     print('ravi',end=' ')
  for j in range(i):
     print('ravi',end=' ')
  print()

               ravi
          ravi ravi ravi
     ravi ravi ravi ravi ravi
ravi ravi ravi ravi ravi ravi ravi

In [12]:
n=4
for i in range(n):
  for j in range(i,n-1):
     print(" " * len("ravi"),end=" ")
  for j in range(i+1):
     print('ravi',end=' ')
  for j in range(i):
     print('ravi',end=' ')

               ravi           ravi ravi ravi      ravi ravi ravi ravi ravi ravi ravi ravi ravi ravi ravi ravi

In [14]:
n=3
for i in range(n):
  for j in range(i,n-1):
     print(" " * len("ravi"))
  for j in range(i+1):
     print('ravi')
  for j in range(i):
     print('ravi')
  print()

ravi


ravi
ravi
ravi

ravi
ravi
ravi
ravi
ravi

In [15]:
t=(3,23,45,67,2,4,5,6)

In [16]:
len(t)

8

In [19]:
t[4]

2

In [21]:
for i in range(len(t)):
  print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [23]:
y='ravindra'

In [24]:
for i in range(len(y)):
  print(i,y[i])

0 r
1 a
2 v
3 i
4 n
5 d
6 r
7 a

In [26]:
y

'ravindra'

In [29]:
for i in range(len(y)-1,-1,-1):                   #first -1 to reduce numbers to 7,second is to put 0 bcz it is a upper bound, third one is for reverse order
  print(i)

7
6
5
4
3
2
1
0

In [30]:
for i in range(len(y)-1,-1,-1):                   #first -1 to reduce numbers to 7,second is to put 0 bcz it is a upper bound, third one is for reverse order
  print(i,y[i])

7 a
6 r
5 d
4 n
3 i
2 v
1 a
0 r

In [4]:
d

{'ravi': 'gurjar', 'school': 'tps'}

In [5]:
d.items()

dict_items([('ravi', 'gurjar'), ('school', 'tps')])

In [6]:
for i in d.items():
  print(i)

('ravi', 'gurjar')
('school', 'tps')

In [7]:
for i in d.items():                #if you have to mention type beside elements
  print(i,type(i))

('ravi', 'gurjar') <class 'tuple'>
('school', 'tps') <class 'tuple'>

if we have to write type of values than (bcz in tuples values are written on 1 index

In [8]:
for i in d.items():
  print(i,type(i),type(i[1]))

('ravi', 'gurjar') <class 'tuple'> <class 'str'>
('school', 'tps') <class 'tuple'> <class 'str'>

In [9]:
l=['ravi','gurjar',8058298669,'ravigurjarrr@gmail.com',1236,241]

In [10]:
l1=[]
for i in l:
  if type(i)==int:
    l1.append(i)

In [11]:
l1

[8058298669, 1236, 241]

In [18]:
d1={"name" : "ravi" , "email_id" : "ravigurjarrr@gmail.com",234 : 12155,245 : "sdfggg"}

In [22]:
d1.items()

dict_items([('name', 'ravi'), ('email_id', 'ravigurjarrr@gmail.com'), (234, 12155), (245, 'sdfggg')])

In [26]:
for i in d1:                 #but here are only values
 if type(i)==int:
   print(i)

234
245

In [28]:
for i in d1:
  if type(i)==int:
    print(i,":",d1[i])

234 : 12155
245 : sdfggg

In [34]:
s="aaaabbccd"

In [33]:
set(s)

{'a', 'b', 'c', 'd'}

In [35]:
for i in set(s):
  print(i,":",s.count(i))

d : 1
c : 2
b : 2
a : 4

In [36]:
i=2525465268552

In [37]:
for j in i:                  # int' object is not iterable so in next slide we will convert this into a string
  print(j)

TypeError: ignored

In [38]:
str(i)

'2525465268552'

In [39]:
for j in str(i):
  print(j)

2
5
2
5
4
6
5
2
6
8
5
5
2

In [42]:
for j in str(i):
  print(j,type(j))

2 <class 'str'>
5 <class 'str'>
2 <class 'str'>
5 <class 'str'>
4 <class 'str'>
6 <class 'str'>
5 <class 'str'>
2 <class 'str'>
6 <class 'str'>
8 <class 'str'>
5 <class 'str'>
5 <class 'str'>
2 <class 'str'>

In [58]:
t=("ravi","gurjar",[4,5,3,6,5],(1,2,3,4),{3:3,"ravi":"gurjar","school":"tps",})

In [47]:
for i in t:
  if type(i) == list or type(i)== tuple:
    for j in i:
      if j == 3:
        print(j)

3
3

In [48]:
a=10
b=20
c=30

all these three are same way to write

In [49]:
a,b,c=10,20,30

In [50]:
a,b,c=(10,20,30)

In [51]:
t

('ravi',
 'gurjar',
 [4, 5, 3, 6, 5],
 (1, 2, 3, 4),
 {'ravi': 'gurjar', 'school': 'tps'})

In [52]:
for i in t:
  if type(i) == list or type(i)== tuple:
    for j in i:
      if j == 3:
        print(j)

3
3

If we have to extract all three in this touple than

In [59]:
for i in t:
  if type(i)==list or type(i)== tuple:
    for j in i:
     if j == 3:
      print(j)
  if type(i)==dict:
    for k,v in i.items():
      if k==3 or v==3:
       print(k)
       print(v)

3
3
3
3