<a href="https://colab.research.google.com/github/Raviawana/python-tutorial/blob/main/python_class_6th_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**WHILE LOOP**

The condition is a Boolean expression that is evaluated before each iteration of the loop. 

If the condition is true, the code block is executed. After the code block is executed, the condition is evaluated again, and the loop continues as long as the condition remains true.

 When the condition becomes false, the loop terminates, and the program continues with the next statement after the loop.







in simple language


*while loop is basically a function which execute only when the condition i.e written with it is true*.

and whenever condition holds false it breaks the loop.

It is also known as conditional loop.

If we have to  generate numbers from 1 to 10.
than we have a lot of ways,one of them is while loop.

In [ ]:
a=1
b=10
while a<=b:
  print(a)
  a=a+1                    #this last line is written for next line, if we don't write it,it will gonna give only 1 for infinite number of times.

1
2
3
4
5
6
7
8
9
10

in this above condition the value of a will change and go again in the loop for checking up that given condition is satisfed or not.

In [ ]:
a=1
b=10
while a<=b:
  print(a)
  a=a+2
else:
  print('print this if needed')

1
3
5
7
9
print this if needed

on a sucessfull complition of 'while' loop 'else' will be executed,but if there is some short of distrubance in while loop than else will not be executed.

In [ ]:
a=1
b=10
while a<=b:
  print(a)
  if a==5:
    break
  a=a+1
else:
  print('this is else loop')

1
2
3
4
5

In [ ]:
a=1
b=10
while a<10:
  print(a)
  if a==3:
    continue                # It is similar function like break 
  a=a+1

We can't see 3 here because here 'a==3' is written and function assigned here is 'continue' which will again make it go to the loop strt not to next line that is print(a)

In [ ]:
a=1
b=10
while a<b:
  a=a+1
  if a==3:
    continue
  print(a)

2
4
5
6
7
8
9
10

In [ ]:
a=1
b=10
while a<b:
  a=a+1
  if a==3:
    pass                          # It does't impact the loop 
  print(a)

2
3
4
5
6
7
8
9
10

In [ ]:
l=[1,2,3,34,45,67]

In [ ]:
for i in l :             # If we have to extract elements just like for loop
  print(i)

1
2
3
34
45
67

In [ ]:
while type(l)==int:
  print(l)

In [ ]:
a=0                           # Firstly len of l=6 and 'a' is obyously lesser than 6 so it will get into the code 
while a < len(l):             # 1st- 'a'=0 so {l[0]=1,l[1]=2,,,....(because of a=a+1)}
  print(l[a])
  a=a+1

1
2
3
34
45
67

In [71]:
t=(3,4,5,6,7,8,9)                  # Find index of 6 and 7

In [ ]:
for i in t:
  if i == 6 or i==7:
    print(i)

6
7

In [ ]:
for i in t:
  if i == 6 or i==7:
    print(i[])

SyntaxError: ignored

In [ ]:
a=0
while a < len(t):
  if t[a] == 6 or t[a]==7:             # IF we execute it it willgo in infinite loop
  print()

SyntaxError: ignored

In [ ]:
a=0
while a<len(t):
  if t[a]==6 or t[a]==7:
    print(a)
  a=a+1

3
4

In [ ]:
a=0
while a<len(t):
  if t[-a]==2 or t[-a]==3:         # WRONG
    print(-a)
  a=a+1

0

In [72]:
t

(3, 4, 5, 6, 7, 8, 9)

In [ ]:
 a=-1
 while a>-len(t):
  if t[a]==6 or t[a]==7:
    print('index of',t[a], 'is',a)
  a=a-1

index of 7 is -3
index of 6 is -4

In [ ]:
l

[1, 2, 3, 34, 45, 67]

In [ ]:
t

(3, 4, 5, 6, 7, 8, 9)

In [ ]:
i=0
while i>-len(l):
  if (l[i]==6) or l[i]==7:
    print(i)
    i-=1

KeyboardInterrupt: ignored

In [ ]:
i=0
while len(t)>i:
  if t[i]==6 or t[i]==7:                   # To correct it see below code
    print(i)
  i-=1

-3
-4

IndexError: ignored

In [ ]:
i=0
while len(t)>i:
  if t[i]==6 or t[i]==7:                  
    print(i)
  if i==-len(l):
      break
  i-=1                           # Meaning of it is (i=i-1) these both statments are same

-3
-4

In [ ]:
d={'k1':'ravi','k2':'[1,2,3,4]','k3':'(5,6,7,8)'}           # Extract only values by using 'while loop'

In [ ]:
while type(d)=dict:
  print(values=)

SyntaxError: ignored

In [ ]:
b=list(d.keys())

In [ ]:
b

['k1', 'k2', 'k3']

In [ ]:
c=list(d.values())

In [ ]:
c

['ravi', '[1,2,3,4]', '(5,6,7,8)']

In [ ]:
a=0
b=list(d.keys())
while a < len(d):
  print(d[b[a]])
  a=a+1

ravi
[1,2,3,4]
(5,6,7,8)

**FUNCTIONS**

In this class just a intro

if you want to create any function there are some naming convenctions thatyou must have to follow.

basic minimum requirement is :- "def Test:" (if we are trying to make a 'test' function).


*One of the major function of functions is it gives us ability to reuse code so that we don't have to write it again and again.*

In [ ]:
def Test():
  print('this is my first function')          # Herewe are making a function

In [ ]:
Test()                                        # Here we are calling the function

this is my first function

In [ ]:
type(Test())                                  # It always creates non type of function

this is my first function

NoneType

In [ ]:
type()+'ravi'                                 # It will for sure give an error because it is a "non type function" and 'ravi' is string.

TypeError: ignored

In [ ]:
def test1():                                    # Return always gives outcome as the way we write, while 'print' always gives none type 
  return"this is my second function"

In [ ]:
test1

In [ ]:
type(test1())             # Now this is string

str

In [ ]:
test1() +'ravi'           # Hence it will work as the way we were expacting

'this is my second functionravi'

In [2]:
def test2():
  return 1,2,3,4,[12,34,54,34]

In [3]:
test2()                   # Whenever you insert more THAN ONE TYPE OF OBJECT IT WILL ALWAYS GIVE OUTCOME IN "TUPLES"

(1, 2, 3, 4, [12, 34, 54, 34])

In [4]:
type(test2())

tuple

We can hold this functiion inside a variable "x" 

And you can try to define a variable's value to a single variable or a multiple variable at a time

In [5]:
a=test2()

In [6]:
a

(1, 2, 3, 4, [12, 34, 54, 34])

In [7]:
a,b,c,d,e=test2()

In [9]:
a

1

In [10]:
b

2

In [11]:
c

3

In [12]:
d

4

In [13]:
e

[12, 34, 54, 34]

In [14]:
def test4():
  a=4*5
  b=6+4
  return a,b

In [15]:
test4()

(20, 10)

In [16]:
g=test4()                                 # We can hold two outcomes in one variable

In [17]:
g

(20, 10)

In [18]:
j,k=test4()                               # Orwecan do this

In [19]:
j

20

In [20]:
k

10

In [21]:
_,m=test4()                                         # If you are intrested in only one data or return you can use one placeholder i.e '_'

In [22]:
m

10

In [23]:
_

20

In [24]:
test2()

(1, 2, 3, 4, [12, 34, 54, 34])

for example if we need only list from above data

In [25]:
_,_,_,_,g=test2()

In [26]:
g

[12, 34, 54, 34]

In [27]:
_

4

One of the major function of functions is it gives us ability to reuse code so that we don't have to write it again and again.
for in example;-

In [28]:
a=1
b=10
while a<=b:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

In [33]:
def test5():
  a=1                                # it is mandatatory to take care of proper inmitation
  b=10
  while a<=b:
    print(a)
    a=a+1

In [34]:
test5()

1
2
3
4
5
6
7
8
9
10

In [35]:
test5()                                     # WE DON'T HAVE TO WRITE IT AGAIN AND AGAIN, WE JUST HAVE TO CALL FUNCTION

1
2
3
4
5
6
7
8
9
10

Now suppose you don't want to pass the values of 'a' and 'b' 
and you want to pass the values at the time of calling a function then

In [36]:
def test5():

  while a<=b:
    print(a)
    a=a+1

In [37]:
test5()

UnboundLocalError: ignored

In [38]:
def test5(a,b):
  while a<=b:
    print(a)
    a=a+1

In [39]:
test5()                   # Purposly made this error look below for correct piece of code

TypeError: ignored

In [43]:
test5(1,10)          # You have to put values of 'a' and 'b

1
2
3
4
5
6
7
8
9
10

In [45]:
test5(3,6)

3
4
5
6

And if we check the type of thisfunction itwill be "none type" 

but what if we need "primitive" type than we just have to write "return" over the place of "print".

In [47]:
type(test5(3,6))

3
4
5
6

NoneType

In [48]:
def test5(a,b):
  while a<=b:
    return (a)
    a=a+1

But here is a catch that it only give one element (it does't perform like loop)
and if we have to get all the data we have to make a list.

In [49]:
test5(4,7)

4

In [50]:
type(test5(4,6))

int

In [57]:
def test5(a,b):
  l=[]
  while a<=b:
    l.append(a)
    a=a+1
  return l

In [58]:
test5(1,10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Now if you have to create a function for identifing and seprate a "integer" from any list then;-

In [59]:
l=[1,2,3,4,5,6,[87,98,65,54,21,32],"ravvi"]     # we have to seperste integer

In [60]:
l1=[]
for i in l:
  if type(i)==int:
    l1.append(i)

In [61]:
l1

[1, 2, 3, 4, 5, 6]

In [62]:
def test6():
  l1=[]
  for i in l:
    if type(i)==int:
      l1.append(i)

In [63]:
test6()          # WE are not getting any outcome so now we will take help of "print" or "return"

In [64]:
def test6():
  l1=[]
  for i in l:
    if type(i)==int:
      l1.append(i)
  return l1

In [66]:
test6()

[1, 2, 3, 4, 5, 6]

In [67]:
l3=[2,3,54,568,544,653,[5,5,62,5],"sdtre"]

  Nowif we have to extract from "l3" than we have to make some changes in function

  now we will make it generic, we pass the function as an argument.

In [68]:
def test6(l):   # write here l to make it generic.
  l1=[]
  for i in l:
    if type(i)==int:
      l1.append(i)
  return l1

In [69]:
test6(l3)

[2, 3, 54, 568, 544, 653]

In [73]:
 a=-1
 while a>-len(t):
  if t[a]==6 or t[a]==7:
    print('index of',t[a], 'is',a)
  a=a-1

index of 7 is -3
index of 6 is -4

In [74]:
t

(3, 4, 5, 6, 7, 8, 9)

In [75]:
def test8(t):
   a=-1
   while a>-len(t):
    if t[a]==6 or t[a]==7:
      print('index of',t[a], 'is',a)
    a=a-1

In [78]:
t1=(454,547,7,599,6,598)

In [79]:
test8(t1)

index of 6 is -2
index of 7 is -4

In [83]:
test8((1,2,7,6,3,4,5,6,5,8,7))      # We can even pass the tupledirectly

index of 7 is -1
index of 6 is -4
index of 6 is -8
index of 7 is -9

In [84]:
Your First Challenge : 
    
you have to submit it by next saturday 4th june 2022  : 
    shivan@ineuron.ai ,sudhanshu@ineuron.ai
    
q1 : Try to print this by using while loop 
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * * 

q2 : try to print below by using while loop : 
        
A
B H 
C I N
D J o S
E K p T W
F L Q U X z
G M R V Y 

q3 : Try to print all the number divisible by 3 in between a range of 40 - 400
    
q4 : Try to filter out all the vowels form below text by using while loop : 
 """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc""" 


q5 : Try to generate all the even number between 1- 1000

q6 : Define a function for all the above problem statememnt  . 
    
q7 : write a code to get a time of your system 

q8 : Write a code to fetch date form your system 

q9 : Write a code to send a mail to your friend 

q10 : write a code to trigger alarm for you at scheduled time 

q11 : write a code to check ip address of your system 

q12 : Write a code to check a perticular installation in your system

q13 : Write a code to convert any text in to voice 

q14 : you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len

q15 :write a fun which will be able to print an index of all premitive element which you will pass 

q16 : Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work . 

q17 : write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output

q18 : Write a function which will whould return list of all the file name from a directory . 

q19 : write a function whihc will be able to read a image file and show it to you .
    
q20 : write a function by which you will be able to append two PDF files . 
    
q21 : write a function which can help you to filter only word file from a directory . 
    
q22 : write a function which can read video file and play for you . 
    
q23 : write a function which will be able to shutdonw your system . 

q24 : Write a function which will whould return list of all the file name from a directory . 

q25 : write a function whihc will be able to access your mail .

SyntaxError: ignored